.background_stamp{
    background-color: rgb(187, 225, 231);
    min-height: 120vh;
    width:100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    background-repeat: no-repeat;
    background-size: cover;
   }

.stamp_back{
      transform: translate(-60%,-50%);
      height:400px;
  }
.memo{
    transform: translate(-160%,40%);
    height: 18
    0px;
}
.stamp_camera{
    height:80px;
    transform: translate(-370%,-370%);
}
.stamp_main{
 display:flex;
}
