.background_contents{
  background-color: rgb(187, 225, 231);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  background-repeat: no-repeat;
  background-size: cover;
 }
 .top_link {
  position: absolute;
  transform: translate(-50%, -80%);
  min-height: 8vh;
}
.contents_map{
  position: absolute;
    transform: translate(-50%,-50%);
    min-height: 10vh;
    height: 90vh;
}