
.header{
    width: 100%;
    height: 60px;
    background: #eeeeee;
    padding-left: 30px;
    padding-right: 30px;
    box-sizing: border-box;
    display: flex; /* flexboxを作る */
    align-items: center; /* 上下中央に揃える */
    justify-content: space-between; /* 両端に配置 */
    top: 0;
    position: fixed;
}
.back_button{
    width:80%;
}