.top_container {
  background-image: url("/src/assets/img/top_back.svg");
  min-height: 100vh;
  height:100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 41% 50%;
}

.top_center {
  height:60vh;
  min-height:50vh;
}

.schedule {
  height: 10vh;
  position: absolute;
  width:11vh;
  transform: translate(-130%, 80%);
}

.top_link {
  height:40vh;
  transform: translate(-115%, 50%);
  position: absolute;
  width:40vh;
}



.obi {
  height: 4vh;
  max-width: 100%;
  position: absolute;
  bottom:0;
  right:0;
}