.top_container {
  height: 120vh;
  width: 10vh;
  min-width: 110%;
  background-image: url("/src/assets/img/top_back.svg");
  background-size: cover;
  background-attachment: fixed;
  background-position: 40% top;
}

.top_center {
  position: absolute;
  transform: translate(3%, 35%);
  height:60vh;
}

.top_center img {
  width: 130%;
}

.schedule {
  height: 40vh;
  max-height:70%;
  position: absolute;
  width:10vh;
  max-width:23%;
  top:-6%;
  left:99%;
  transform: translate(-25%, -10%);
}

.schedule img {
  height: 100%;
}

.top_link {
  width: 100%;
  position: absolute;
  top: 45%;
  right: -57%;
  transform: translate(30%, -50%);
}

.top_link img {
  width: 100%;
}



.obi {
  height: 6vh;
  max-width: 50%;
  position: absolute;
  overflow: hidden;
  transform: translate(100%,100%);
  /* transform: translate(0%, 150%); */
}

.obi img {
  height: 100%;
}

.left_over{
 position: absolute;
 transform: translate(-115%, -90%);
 min-height: 50vh;
 height: 90vh;
}