.top_container {
  height: 200vh;
  width: 85vh;
  min-width: 100%;
  max-width:200%;
  background-image: url("/src/assets/img/top_back.svg");
  background-size: cover;
  background-attachment: fixed;
  background-position: 40% top;
  background-color: rgb(187, 225, 231);
}

.top_center {
  position: absolute;
  transform: translate(6%, 40%);
  height:90vh;
  max-height:85vh;
}

.schedule {
  height: 20vh;
  max-height:100%;
  position: absolute;
  width:17vh;
  max-width:80%;
  transform: translate(335%, 210%);
}

.top_link {
  height:10vh;
  position: absolute;
  width:100vh;
  transform: translate(220%,200%);
}

.obi {
  height: 8vh;
  max-height: 90%;
  position: absolute;
  overflow: hidden;
  transform: translate(110%,1680%);
  /* transform: translate(0%, 150%); */
}

