.App {
  text-align: center;
}

.top_back {
  min-height: 100vh;
  height:10vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  background-image: url("/src/assets/img/under_back.svg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 41% 50%;
}
.under_center{
height:60vh;
min-height:50vh;
}
.under_link{
  transform: translate(0%,-380%);
}