.background_tyui{
    background-color: rgb(187, 225, 231);
    min-height: 200vh;
    min-width: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    background-repeat:repeat;
    background-size:contain;
   }
   .left_over{
    position: absolute;
    transform: translate(-300%, -270%);
    min-height: 10vh;
    margin: 500px;
   }
   .back{
   transform: translate(50%,50%);
   }