.background_tyui{
    background-color: rgb(187, 225, 231);
    min-height: 250vh;
    min-width: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    background-repeat:repeat;
    background-size:contain;
   }
   .left_over{
    position: absolute;
    transform: translate(-115%, -110%);
    min-height: 50vh;
    height: 90vh;
   }
   .back{
    position: absolute;
    transform: translate(-50%, -110%);
    min-height: 10vh;
    height:140vh;
   }
   .back2{
    position: absolute;
    transform: translate(-50%, -10%);
    min-height: 10vh;
    height:140vh;
   }
   .right_over{
    position: absolute;
    transform: translate(13%,-65%);
    min-height: 10vh;
    height: 90vh;
   }
   .left_bottom{
    position: absolute;
    transform: translate(-115%,5%);
    min-height: 10vh;
    height: 120vh;
   }
   .right_bottom{
    position: absolute;
    transform: translate(13%,40%);
    min-height: 10vh;
    height: 100vh;
   }
