.btn {
    cursor: pointer;
}

.map2_0 {
    fill: #FEF9E4;
}

.map2_1 {
    fill: #666666;
    stroke: #5E5C5C;
    stroke-linejoin: round;
}

.map2_2 {
    fill: #4D4E4F;
}

.map2_3 {
    fill: #F3F9F8;
}

.map2_4 {
    fill: #F7EA67;
    stroke: #5E5C5C;
    stroke-linejoin: round;
}

.map2_5 {
    fill: #DBCC5C;
}

.map2_6 {
    fill: #B2E0F8;
    stroke: #5E5C5C;
    stroke-linejoin: round;
}

.map2_7 {
    fill: #8AB7D6;
}

.map2_8 {
    fill: #69BD83;
    stroke: #5E5C5C;
    stroke-linejoin: round;
}

.map2_9 {
    fill: #46976C;
}

.map2_10 {
    fill: #E3776A;
    stroke: #5E5C5C;
    stroke-linejoin: round;
}

.map2_11 {
    fill: #C35F5A;
}

.map2_12 {
    fill: #FFFFFF;
    stroke: #5E5C5C;
    stroke-linejoin: round;
}

.map2_13 {
    fill: #F3F9F8;
    stroke: #5E5C5C;
    stroke-linejoin: round;
}

.map2_14 {
    fill: none;
    stroke: #5E5C5C;
    stroke-linejoin: round;
}

.map2_15 {
    fill: #76B5DE;
    stroke: #5E5C5C;
    stroke-linejoin: round;
}

.map2_16 {
    fill: #F2BFD7;
    stroke: #5E5C5C;
    stroke-linejoin: round;
}

.map2_17 {
    fill: #BBE1E7;
    stroke: #5E5C5C;
}

.map2_18 {
    fill: none;
    stroke: #5E5C5C;
    stroke-width: 3;
    stroke-linecap: round;
    stroke-linejoin: round;
}

.map2_19 {
    fill: #BBE1E7;
    stroke: #5E5C5C;
    stroke-width: 3;
    stroke-linejoin: round;
}