.btn {
    cursor: pointer;
}

.map2_0 {
    fill: #fef9e4;
}

.map2_1 {
    fill: #666666;
    stroke: #5e5c5c;
    stroke-linejoin: round;
}

.map2_2 {
    fill: #4d4e4f;
}

.map2_3 {
    fill: #f3f9f8;
}

.map2_4 {
    fill: #f7ea67;
    stroke: #5e5c5c;
    stroke-linejoin: round;
}

.map2_5 {
    fill: #dbcc5c;
}

.map2_6 {
    fill: #b2e0f8;
    stroke: #5e5c5c;
    stroke-linejoin: round;
}


.map2_7 {
    fill: #8ab7d6;
}

.map2_8 {
    fill: #69bd83;
    stroke: #5e5c5c;
    stroke-linejoin: round;
}

.map2_9 {
    fill: #46976c;
}

.map2_10 {
    fill: #e3776a;
    stroke: #5e5c5c;
    stroke-linejoin: round;
}

.map2_11 {
    fill: #c35f5a;
}

.map2_12 {
    fill: #ffffff;
    stroke: #5e5c5c;
    stroke-linejoin: round;
}

.map2_13 {
    fill: #f3f9f8;
    stroke: #5e5c5c;
    stroke-linejoin: round;
}

.map2_14 {
    fill: none;
    stroke: #5e5c5c;
    stroke-linejoin: round;
}

.map2_15 {
    fill: #76b5de;
    stroke: #5e5c5c;
    stroke-linejoin: round;
}

.map2_16 {
    fill: #f2bfd7;
    stroke: #5e5c5c;
    stroke-linejoin: round;
}

.map2_17 {
    fill: #bbe1e7;
    stroke: #5e5c5c;
}

.map2_18 {
    fill: none;
    stroke: #5e5c5c;
    stroke-width: 3;
    stroke-linecap: round;
    stroke-linejoin: round;
}

.map2_19 {
    fill: #bbe1e7;
    stroke: #5e5c5c;
    stroke-width: 3;
    stroke-linejoin: round;
}

.st1{fill:#78bbcf;}
.st2{fill:#f3f9f8;}
.st3{fill:#5e5c5c;}
.cls-1{fill:#78bbcf;}
.cls-2{fill:#f3f9f8;}
.cls-3{fill:#5e5c5c;}
.cls-4{fill:#fef9e4;}
.cls-5,.cls-8{fill:#f3fafe;}
.cls-10,.cls-11,.cls-12,.cls-13,.cls-14,.cls-15,.cls-20,.cls-5,.cls-6,.cls-7,.cls-8,
.cls-9{stroke:#5e5c5c;}
.cls-10,.cls-15,.cls-20,.cls-5,.cls-6,.cls-7,.cls-8,
.cls-9{stroke-linejoin:round;}
.cls-5,
.cls-6{stroke-width:1px;}
.cls-21,.cls-6{fill:#fff;}
.cls-20,
.cls-7{fill:#bbe1e7;}
.cls-7{stroke-width:0.94px;}
.cls-9{fill:#77bde9;}
.cls-10{fill:#f2bfd7;}
.cls-11{fill:#69bd83;}
.cls-11,.cls-12,
.cls-14{stroke-miterlimit:10;}
.cls-12{fill:#e3776a;}
.cls-13{fill:#b2e0f8;}
.cls-14{fill:#666;}
.cls-15{fill:none;stroke-width:3px;}
.cls-16{fill:#4d4e4f;}
.cls-17{fill:#8ab7d6;}
.cls-18{fill:#c35f5a;}
.cls-19{fill:#46976c;}

.sy-1{stroke-width:1.25px;}
.sy-1,
.sy-2{fill:#fff;}
.sy-1,
.sy-3,
.sy-4,
.sy-5,
.sy-6,
.sy-7{stroke:#5e5c5c;}
.sy-8{fill:#e2cb61;}
.sy-9{fill:#fef9e4;}
.sy-10{fill:#46976c;}
.sy-11{fill:#f2bfd7;}
.sy-2{font-family:KozGoPr6N-Regular-90ms-RKSJ-H, 'Kozuka Gothic Pr6N';font-size:11.62px;stroke:#fff;stroke-width:.25px;}
.sy-2,
.sy-12,
.sy-13{stroke-miterlimit:10;}
.sy-12{stroke:url(#_新規パターンスウォッチ_2);stroke-width:1.28px;}
.sy-12,.sy-3,.sy-4,.sy-14,.sy-13,.sy-15,
.sy-7{fill:none;}
.sy-16{fill:#77bde9;}
.sy-3,.sy-4,.sy-5,.sy-6,
.sy-7{stroke-linejoin:round;}
.sy-3,.sy-5,
.sy-7{stroke-linecap:round;}
.sy-17{fill:#f3fafe;}
.sy-18{fill:#76b5de;}
.sy-19{fill:#fbedcc;}
.sy-20{fill:#b2ce65;}
.sy-13{stroke:#ed0;stroke-width:2px;}
.sy-5{fill:#f3ed66;}
.sy-15{stroke:#231815;}
.sy-6{fill:#69bd83;}
.sy-21{fill:#f3f9f8;}
.sy-22{fill:#f7d15f;}
.sy-23{fill:#d2a834;}
.sy-7{stroke-width:3px;}
.si-1{fill:#fef9e4;}
.si-2,
.si-29,
.si-3,
.si-36,
.si-6,
.si-7{fill:#f3f9f8;}
.si-10,
.si-11,
.si-12,
.si-13,
.si-16,
.si-18,
.si-2,
.si-20,
.si-22,
.si-24,
.si-25,
.si-26,
.si-28,
.si-29,
.si-3,
.si-30,
.si-31,
.si-32,
.si-33,
.si-34,
.si-35,
.si-4,
.si-5,
.si-6,
.si-7,
.si-8,
.si-9{stroke:#5e5c5c;}
.si-10,
.si-12,
.si-2,
.si-29,
.si-33,.si-34,.si-6,.si-7,.si-8,
.si-9{stroke-linejoin:round;}
.si-4{fill:#b2ce65;
}.si-5,
.si-9{fill:#f2bfd7;}
.si-6{stroke-width:1.07px;}
.si-7{stroke-width:0.88px;}
.si-11,.si-8{fill:#76b5de;}
.si-10,.si-12{fill:#bbe1e7;}
.si-10{stroke-width:0.94px;}
.si-12,.si-33{stroke-width:3px;}
.si-13{fill:#b2e0f8;}
.si-14{fill:#8ab7d6;}
.si-15,.si-28,.si-32,
.si-38{fill:#fff;}
.si-16{fill:#666;}
.si-16,.si-20,.si-22,.si-24,.si-25,
.si-26{stroke-miterlimit:10;}
.si-17{fill:#4d4e4f;}
.si-18,.si-24{fill:#69bd83;}
.si-19{fill:#46976c;}
.si-20{fill:#ed8182;}
.si-21{fill:#c35f5a;}
.si-22{fill:#f7ca88;}
.si-23{fill:#daa86e;}
.si-25{fill:#e3776a;}
.si-26{fill:#f7ea67;}
.si-27{fill:#dbcc5c;}
.si-29,.si-30,.si-31,.si-32,
.si-34{stroke-width:1px;}
.si-30{fill:#5e5c5c;}
.si-31,.si-33,.si-34,
.si-35{fill:none;}
.si-37{fill:#ccc;}
.si-38{font-size:17.69px;font-family:KozGoPr6N-Regular-83pv-RKSJ-H, Kozuka Gothic Pr6N;}.si-39{fill:#f3fafe;}
.so-1{fill:#f2bfd7;}
.so-1,.so-2,.so-3,.so-4,.so-5,.so-6,.so-7,.so-8,.so-9,.so-10,.so-11,.so-12,.so-13,.so-14,.so-15,.so-16,.so-17,.so-18,.so-19,.so-20,
.so-21{stroke:#5e5c5c;}
.so-1,.so-2,.so-3,.so-4,.so-5,.so-6,.so-7,.so-8,.so-9,.so-10,.so-11,.so-12,.so-13,.so-14,.so-15,.so-16,.so-17,.so-19,.so-20,.so-22,
.so-21{stroke-linejoin:round;}
.so-2,.so-6,
.so-12{fill:#bbe1e7;}
.so-3,
.so-4{fill:#f7ea67;}
.so-23{stroke:#fff;stroke-width:.25px;}
.so-23,
.so-7{fill:#fff;}
.so-23,
.so-18{stroke-miterlimit:10;}
.so-4,.so-8,
.so-20{stroke-width:.95px;}
.so-5{fill:#b2e0f8;}
.so-24{fill:#dbcc5c;}
.so-25{fill:#46976c;}
.so-6{stroke-width:.94px;}
.so-26{fill:#daa86e;}
.so-7,.so-10,
.so-15{stroke-width:1px;}
.so-8,
.so-11{fill:#666;}
.so-9{stroke-width:3px;}
.so-9,.so-10,
.so-22{fill:none;}
.so-27,.so-15,.so-20,
.so-21{fill:#f3fafe;}
.so-28{fill:#8ab7d6;}
.so-12{stroke-width:2px;}
.so-13{fill:#f7ca88;}
.so-29{fill:#4d4e4f;}
.so-14{fill:#b2ce65;}
.so-16{fill:#e3776a;}
.so-17{fill:#77bde9;}
.so-18{fill:#fef9e4;}
.so-19{fill:#69bd83;}
.so-30{fill:#c35f5a;}
.so-31{fill:#f3f9f8;}
.so-32{fill:#9e9e9e;}
.so-22{stroke:#231815;}
.su-1,
.su-2,.su-3,.su-4,.su-5,.su-6,.su-7,.su-8,.su-9,.su-10,.su-11,.su-12,.su-13,.su-14,
.su-15{stroke:#5e5c5c;}
.su-1,.su-2,.su-3,.su-4,.su-5,.su-6,.su-7,.su-8,.su-10,.su-12,.su-13,.su-14,
.su-15{stroke-linejoin:round;}
.su-1,
.su-16{fill:#f3f9f8;}
.su-2,
.su-9{fill:#f2bfd7;}
.su-3{fill:#f7ea67;}
.su-4{fill:#b2e0f8;}
.su-17{fill:#dbcc5c;}
.su-18{fill:#fef9e4;}
.su-19{fill:#46976c;}
.su-20{fill:#daa86e;}
.su-21{fill:#5e5c5c;}
.su-5,.su-11{fill:#bbe1e7;}
.su-5,.su-15{stroke-width:3px;}
.su-22{fill:#8ab7d6;}
.su-6{fill:#76b5de;}
.su-7{fill:#666;}
.su-8,
.su-15{fill:none;}
.su-10{fill:#f7ca88;}
.su-23{fill:#4d4e4f;}
.su-12{fill:#e3776a;}
.su-13{fill:#69bd83;}
.su-24{fill:#c35f5a;}
.su-14{fill:#fff;}
.su-15{stroke-linecap:round;}
.we-1,.we-2,.we-3,.we-4,.we-5,.we-6,.we-7,.we-8,.we-9,.we-10,.we-11,.we-12,.we-13,.we-14,
            .we-15{stroke:#5e5c5c;}
            .we-1,.we-2,.we-3,.we-4,.we-5,.we-6,.we-7,.we-8,.we-10,.we-12,.we-13,.we-14,
            .we-15{stroke-linejoin:round;}
            .we-1,
            .we-16{fill:#f3f9f8;}
            .we-2,.we-9{fill:#f2bfd7;}.we-3{fill:#f7ea67;}.we-4{fill:#b2e0f8;}.we-17{fill:#dbcc5c;}.we-18{fill:#fef9e4;}.we-19{fill:#46976c;}.we-20{fill:#daa86e;}.we-21{fill:#5e5c5c;}.we-5,.we-11{fill:#bbe1e7;}.we-5,.we-15{stroke-width:3px;}.we-22{fill:#f3fafe;}.we-23{fill:#8ab7d6;}.we-6{fill:#76b5de;}.we-7{fill:#666;}.we-8,.we-15{fill:none;}.we-10{fill:#f7ca88;}.we-24{fill:#4d4e4f;}.we-12{fill:#e3776a;}.we-13{fill:#69bd83;}.we-25{fill:#c35f5a;}.we-14{fill:#fff;}.we-15{stroke-linecap:round;}