.background_zenya{
    background-color: #32599f;
    min-height: 450vh;
    height:400vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    background-repeat: no-repeat;
    background-size: cover;
   }
.title_zenya{
    padding-top:250px;
    width:300px;

}
.kouya_bar{
    padding:30px;
    padding-bottom: 40px;
    width:300px;
}
.kouya{
    display: flex;
    flex-flow: column;
    text-align: center;
}