.background_tyui{
    background-color: rgb(187, 225, 231);
    height: 165vh;
    height: 150dvh;
   }
   .tyui-container{
    display: flex;
    flex-flow: column;
    text-align: center;
    margin: auto;
    max-width: 460px;
    padding: 25px;
   }
   .left_over{
    position: absolute;
    transform: translate(-185%, -135%);
    height: 55vh;
   }
   .back{
    margin: -0.6%;
   }
   .right_over{
    position: absolute;
    transform: translate(-87%,-95%);
    height: 55vh;
   }
   .left_bottom{
    position: absolute;
    transform: translate(-205%,3.2%);
    height: 55vh;
   }
   .right_bottom{
    position: absolute;
    transform: translate(-85%,13.5%);
    height: 50vh;
   }
