.background_tyui{
    background-color: rgb(187, 225, 231);
    height: 115.5vh;
    height: 150dvh;
   }
   .tyui-container{
    display: flex;
    flex-flow: column;
    text-align: center;
    margin: auto;
    max-width: 460px;
    padding: 25px;
   }
   .left_over{
    position: absolute;
    transform: translate(-185%, -130%);
    min-height: 40vh;
    height: 35vh;
   }
   .back{
    margin: -0.4%;
   }
   .right_over{
    position: absolute;
    transform: translate(-85%,-90%);
    min-height: 40vh;
    height: 35vh;
   }
   .left_bottom{
    position: absolute;
    transform: translate(-205%,3.2%);
    min-height: 40vh;
    height: 55vh;
   }
   .right_bottom{
    position: absolute;
    transform: translate(-65%,13.5%);
    min-height: 40vh;
    height: 50vh;
   }
