.background_map{
    background-color: rgb(187, 225, 231);
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    background-repeat: no-repeat;
    background-size: cover;
   }
.setumei{
    background-color: #eeeeee;
    min-height: 40vh;
    height:40vh;
    width:60vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    background-repeat: no-repeat;
    background-size: cover;
    transform: translate(0%,70%);
    overflow: hidden;
}
.list{
    height:8vh;
    width:8vh;
    transform: translate(600%,300%);
}
.map_1{
    height:4vh;
    transform: translate(-160%,110%);
}
.map_2{
    height:4vh;
    transform: translate(-40%,-10%);
}
.map_3{
    height:4vh;
    transform: translate(80%,-130%);
}
.map_4{
    height:4vh;
    transform: translate(200%,-250%);
}
