
.background_map {
    background-color: rgb(187, 225, 231);
    min-height: 100vh;
    display: flex;
    width:100%;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    background-repeat: no-repeat;
    background-size: cover;
}
.setumei {
    background-color: #eeeeee;
    min-height: 40vh;
    height: 45vh;
    width:80vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    background-repeat: no-repeat;
    background-size: cover;
    transform: translate(0%, 125%);
    overflow: hidden;
}
.list {
    height: 8vh;
    width: 8vh;
    transform: translate(750%, 700%);
}

.floor_selector {
    cursor: pointer;
}

.f1 {
    height: 4vh;
    transform: translate(-160%, -2700%);
}
.f2 {
    height: 4vh;
    transform: translate(-50%, -2820%);
}
.f3 {
    height: 4vh;
    transform: translate(60%, -2940%);
}
.f4 {
    height: 4vh;
    transform: translate(170%, -3060%);
}
.map_main{
    transform: translate(0%, -200%);
    height:40vh;
}.info{
    height:28vh;
    transform: translate(0%,50%);
}
.description{
    height:10vh;
    transform: translate(8%,10%);
    font-family: vdl-logojrblack, sans-serif;
    font-weight: 900;
    font-style: normal;
}
.title_map{
    height:10vh;
    transform: translate(8%,25%);
    font-size: 4vh;
    font-family: vdl-logojrblack, sans-serif;
font-weight: 900;
font-style: normal;
}
.className{
    height:10vh;
    transform: translate(12%,90%);
    font-size: 5vh;
    font-family: vdl-logojrblack, sans-serif;
font-weight: 900;
font-style: normal;
}
.floor{
    height:10vh;
    transform: translate(65%,325%);
    font-size: 7vh;
    font-family: vdl-logojrblack, sans-serif;
font-weight: 900;
font-style: normal;
}
.description_F2{
    height:10vh;
    transform: translate(0%,10%);
    font-family: vdl-logojrblack, sans-serif;
font-weight: 900;
font-style: normal;
}
.title_map_F2{
    height:10vh;
    transform: translate(0%,25%);
    font-size: 4vh;
    font-family: vdl-logojrblack, sans-serif;
font-weight: 900;
font-style: normal;
}
.className_F2{
    height:10vh;
    transform: translate(5%,90%);
    font-size: 5vh;
    font-family: vdl-logojrblack, sans-serif;
font-weight: 900;
font-style: normal;
}
.floor_F2{
    height:10vh;
    transform: translate(68%,325%);
    font-size: 7vh;
    font-family: vdl-logojrblack, sans-serif;
font-weight: 900;
font-style: normal;
}

