.background_map {
    background-color: rgb(187, 225, 231);
    height: 93vh;
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: center;
    font-size: calc(10px + 2vmin);
    background-repeat: no-repeat;
    background-size: cover;
}

.setumei {
    background-color: #eeeeee;
    min-height: 40vh;
    height: 45vh;
    width: 800px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    background-repeat: no-repeat;
    background-size: cover;
    transform: translate(0%, 125%);
}

.list {
    height: 8vh;
    width: 8vh;
    transform: translate(750%, 700%);
}

.floor_selector {
    cursor: pointer;
    display: inline-block;
    padding: 0 5px 0 5px;
    width: 20vw;
}

.floor_selector_container {
    width: 100%;
    padding-top: 20px;
    text-align: center;
}

.map_info_modal_container{
    background-color: #eeeeee;
    position: absolute;
    bottom: 0%;
    width: 100%;
}

.map_info_modal_img {
    max-height: 300px;
    padding: 40px;
    margin-bottom: 40px;
    text-align: center;
    
}

.map-img{
    text-align: center;
    display: block;
    margin-left: auto;
    margin-right: auto 
}

.map_main {
    width: 330px;
    padding: 20px;
}

.info {
    height: 28vh;
    transform: translate(0%, 50%);
}

.description {
    height: 100px;
    line-height: 45px;
    width: 545px;
    transform: translate(8%, 125%);
    font-family: vdl-logojrblack, sans-serif;
    font-weight: 900;
    font-style: normal;
    color: #656464;
}

.title_map {
    width: 240px;
    height: 100px;
    line-height: 22px;
    transform: translate(20%, -85%);
    font-size: 20px;
    font-family: vdl-logojrblack, sans-serif;
    font-weight: 900;
    font-style: normal;
    color: #656464;
}

.className {
    height: 10vh;
    transform: translate(12%, 85%);
    font-size: 4vh;
    font-family: vdl-logojrblack, sans-serif;
    font-weight: 700;
    font-style: normal;
    color: #656464;
}

.floor {
    height: 10vh;
    transform: translate(58%, 305%);
    font-size: 6vh;
    font-family: vdl-logojrblack, sans-serif;
    font-weight: 900;
    font-style: normal;
    color: #656464;
}
