.background {
    background-color: rgb(187, 225, 231);
    height: 100vh;
    height: 100dvh;
}

.contents-container {
    display: flex;
    flex-flow: column;
    text-align: center;
    margin: auto;
    max-width: 460px;
    padding: 20px;
}

.contents-event {
    padding-bottom:10px;
}

.router-button {
    padding: 3px;
}
