a {
    text-decoration: none;
}

.background {
    background-color: rgb(187, 225, 231);
    min-height: calc(100vh - 85px);
    min-height: calc(100dvh - 85px);
}

.contents-container {
    display: flex;
    flex-flow: column;
    text-align: center;
    margin: auto;
    max-width: 460px;
    padding: 20px;
}

.contents-event {
    background-color: #e3dac5;
    display: flex;
    justify-content: space-around;
}

.svg-icon {
    width: 30px;
}

.arrow {
    cursor: pointer;
}

.event-text {
    font-size: 30px;
    font-family: 'Courier New', Courier, monospace;
    color: #5e5d5c;
    margin: 0;
    padding: 0;
}

.contents-link {
    height: 75px;
    padding: 0;
    margin: 20px 0 0 0;
}

.contents {
    width: 460px;
    padding-left: 50px;
    text-align: left;
    position: relative;
    top: -40px;
    left: 0;
}

.contents-title {
    padding: 0;
    font-family: vdl-logojrblack, sans-serif;
    font-weight: 900;
    font-size: 40px;
    position: relative;
    z-index: 10;
}

.contents-bg {
    width: 460px;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 5;
}

.contents-0 {
    fill: #78bccf;
}

.contents-1 {
    fill: #f3fafe;
}

.contents-2 {
    fill: #f3c0d8;
}

.contents-4 {
    fill: #f3fafe;
}

.contents-change-0 {
    fill: #f8d25f;
}

.contents-change-1 {
    fill: #f3c0d8;
}