.syasin {
    padding-left:50px;
    width:150px;
    margin:30px;
}
.koutyousetumei {
    margin-bottom:210px;
    width:300px;
}
.background_koutyou {
    background-color: #8dc2bb;
    height: 100vh;
    width:100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    background-repeat: no-repeat;
    background-size: cover;
}
.Kty{
    display:flex;
    text-align:center;
    flex-flow: column;
}