body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

export const columns = [
    { className:"G1A",stampIndex: "G1A" },
    { className:"G1B",stampIndex: "G1B" },
    { className:"G1C",stampIndex: "G1C" },
    { className:"G1D",stampIndex: "G1D" },
    { className:"G1E",stampIndex: "G1E" },
    { className:"G1F",stampIndex: "G1F" },
    { className:"G1G",stampIndex: "G1G" },
    { className:"G1H",stampIndex: "G1H" },
    { className:"G1I",stampIndex: "G1I" },
    { className:"G1A",stampIndex: "G1J" },
    { className:"G1A",stampIndex: "T1A" },
    { className:"G1A",stampIndex: "T1B" },
    { className:"G1A",stampIndex: "T1C" },
    { className:"G1A",stampIndex: "T1D" },
    { className:"G1A",stampIndex: "G2A" },
    { className:"G1A",stampIndex: "G2B" },
    { className:"G1A",stampIndex: "G2C" },
    { className:"G1A",stampIndex: "G2D" },
    { className:"G1A",stampIndex: "G2E" },
    { className:"G1A",stampIndex: "G2F" },
    { className:"G1A",stampIndex: "G2G" },
    { className:"G1A",stampIndex: "G2H" },
    { className:"G1A",stampIndex: "G2I" },
    { className:"G1A",stampIndex: "G2J" },
    { className:"G1A",stampIndex: "G2K" },
    { className:"G1A",stampIndex: "T2A" },
    { className:"G1A",stampIndex: "T2B" },
    { className:"G1A",stampIndex: "T2C" },
    { className:"G1A",stampIndex: "J2A" },
    { className:"G1A",stampIndex: "J2B" },
    { className:"G1A",stampIndex: "G3F" },
    { className:"G1A",stampIndex: "G3H" },
    { className:"G1A",stampIndex: "G3J" },
    { className:"G1A",stampIndex: "G3k" },
    { className:"G1A",stampIndex: "T3A" },
    { className:"G1A",stampIndex: "T3D" },
]